/* main body */

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

/* header section */

header {
    /* width: 800px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
}

/* header section-tag */

header ul {
    display: flex;

}

header li {
    padding-left: 18px;
    
}
header a {
    text-decoration: none;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* header section-id-(page-logo) */


#page-logo a {
    font-family: 'Kalam', cursive;
    padding: 10px;
    color: #FFEEAD;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-weight: 700;
    font-size: 30px;
}

nav ul li a {
    color: #FFE162;
    padding: 10px 13px;
}

nav ul li a:hover {
    background-color: #FFBD35;
    color: #191919;
    border-radius: 8px;
}

/* footer section */

footer {
    background: linear-gradient(0deg, #362222, #191919);
}

footer li {
    height: 80px;
    width: 80px;
    margin: 0 20px;
}

footer img {
    width: 80%;
    height: 80%;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 40px;
}